@media screen and (max-width: 1199px) {
  .index-top-video {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 240px;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .video-mask {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.05);
    }
  }

  .banner-box {
    margin-top: 20px;
  }

  .lunbo-box {
    position: relative;
    width: 100%;
    height: auto !important;

    /deep/ .el-carousel__container {
      height: 120px;
    }

    /deep/ img {
      width: 100%;
      height: 160px;
      height: 120px;
      height: 100%;
      cursor: pointer;
      object-fit: cover;
    }
  }

  // 搜索框

  .section-search {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    position: relative;
    z-index: 10;

    .main-title {
      margin-bottom: 20px;
      font-size: 18px;
      font-family: Alibaba PuHuiTi 2-85 Bold, Alibaba PuHuiTi 20;
      font-weight: normal;
      color: #ffffff;
    }

    .hot-words {
      margin-top: 20px;
      font-size: 12px;
      font-family: Microsoft YaHei-Regular, Microsoft YaHei;
      font-weight: 400;
      color: #ffffff;

      .words {
        margin-right: 20px;
        font-size: 12px;
        font-family: Microsoft YaHei-Regular, Microsoft YaHei;
        font-weight: 400;
        color: #ffffff;
        line-height: 1.7;

        &:hover {
          color: @theme;
        }
      }
    }

    .center-search {
      .flex();

      width: 100%;
      height: 34px;
      background: #ffffff;
      border-radius: 4px 4px 4px 4px;
      margin: 0 auto;
      border: 1px solid #c2c2c2;
      border-radius: 5px;
      position: relative;
      overflow: hidden;

      .left-select {
        width: 100px;
        height: 32px;

        .el-select {
          width: 100px;
          height: 100%;

          /deep/ .el-input {
            height: 100%;
          }
          /deep/ .el-input__inner {
            border: none !important;
            background: #f2f2f2;
            padding: 0 10px;
            height: 100%;
            text-align: center;
          }
        }
      }
      .search-box {
        .flex();
        flex: 1;
        align-self: stretch;

        input {
          width: 100%;
          display: inline-block;
          height: 100%;
          padding-left: 20px;

          &::-webkit-input-placeholder {
            font-size: 12px;
            font-family: Microsoft YaHei-Regular, Microsoft YaHei;
            font-weight: 400;
            color: #a6a6a6;
          }
        }

        button {
          position: absolute;
          right: 0;
          top: 0;
          width: 32px;
          height: 32px;
          .flex-center();
          .img-search {
            width: 15px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }

  .section-title {
    .flex-between();
    .section-left {
      font-size: 16px;
      font-family: Microsoft YaHei-Bold, Microsoft YaHei;
      font-weight: bold;
      color: #333333;
    }
    .section-right {
      .flex();

      .text {
        padding-bottom: 10px;
        position: relative;
        font-size: 14px;
        font-family: Alibaba PuHuiTi 2-55 Regular, Alibaba PuHuiTi 20;
        font-weight: normal;
        color: #ea3200;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 35px;
          height: 1px;
          background: #000;
        }
      }
      .arrow {
        width: 18px;
        margin-left: 10px;
      }
    }
  }

  .section-yewu {
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px;

    .section-ctx {
      margin-top: 20px;

      .main-poster {
        cursor: pointer;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        height: auto;
        border-radius: 16px 16px 0 0;
        .poster-box {
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          // background-size: 100% 100%;
          // background-size: 100% auto;
          background-size: 100% 100%;
          background-position: center;
        }

        .info-box {
          position: relative;
          z-index: 2;
          height: auto;
          background: transparent;
          padding: 25px 15px;
          text-align: left;
          border-radius: 16px 16px 0px 0px;
        }

        .cate-title {
          font-size: 16px;
          font-family: Microsoft YaHei-Bold, Microsoft YaHei;
          font-weight: bold;
          color: #ffffff;
        }

        .cate-desc-box {
          min-height: 80px;
        }
        .cate-desc {
          .line-3();
          max-width: 100%;
          margin-top: 20px;
          min-height: 50px;
          font-size: 12px;
          font-family: Microsoft YaHei-Regular, Microsoft YaHei;
          font-weight: 400;
          color: #ffffff;
          line-height: 2;
        }
        .cate-btn {
          margin-top: 20px;
          width: fit-content;
          background: rgba(255, 255, 255, 0);
          border-radius: 0px 31px 0px 31px;
          border: 2px solid #ffffff;
          padding: 0 15px;

          a {
            .flex-center();
            width: fit-content;
            height: 42px;
            font-size: 14px;
            font-family: Microsoft YaHei-Regular, Microsoft YaHei;
            font-weight: 400;
            color: #ffffff;
            img {
              margin-left: 15px;
              width: 20px;
            }
          }
        }
      }
      .main-cates {
        display: flex;
        justify-content: space-between;

        .cate-item {
          .flex-center();
          flex-direction: column;
          flex: 1;
          height: auto;
          background: #eff4fa;
          margin-right: 10px;
          cursor: pointer;
          transition: 0.4s linear;
          padding: 15px 0;

          &:first-child {
            border-radius: 0px 0px 0px 16px;
          }
          &:last-child {
            border-radius: 0px 0px 16px 0px;
            margin-right: 0;
          }

          &.active {
            background: @theme;
            .title {
              color: #fff;
            }

            .cate-img-0 {
              display: none !important;
            }
            .cate-img-1 {
              display: inline-block !important;
            }
          }

          .cate-img {
            max-width: 24px !important;
            height: auto;
          }

          .cate-img-1 {
            display: none;
          }
          .title {
            transition: 0.4s linear;
            margin-top: 10px;
            font-size: 14px;
            font-family: Microsoft YaHei-Regular, Microsoft YaHei;
            font-weight: 400;
            color: #000000;
          }
        }
      }
    }
  }

  .adv-box {
    margin-top: 80px;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }

  // 文献列表
  .section-wenxian {
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px;

    // padding-top: 20px;
    // padding-bottom: 20px;

    .section-ctx {
      margin-top: 10px;

      .swiper-wenxian {
        padding: 10px;
        // padding-bottom: 0;
        .wenxian-item {
          width: 100%;
          display: block;
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          border-radius: 8px;

          &:hover {
            .wenxian-title {
              color: @theme;
            }
          }

          .wenxian-img {
            width: 100%;
            height: 300px;
          }

          .wenxian-title-box {
            padding: 15px 10px;
          }
          .wenxian-title {
            overflow: hidden;
            .line-2();
            height: auto;
            padding: 0px;
            font-size: 14px;
            font-family: Microsoft YaHei-Regular, Microsoft YaHei;
            font-weight: 400;
            color: #333333;
            line-height: 1.7;
            text-align: left;
          }
        }
      }

      // 文献分页
      .wenxian-fenye {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        .fenye-left {
          .flex();
          width: 160px;
          height: 50px;
          background: #ffffff;
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.08);
          border-radius: 8px 8px 8px 8px;

          .arrow-left {
            flex: 1;
          }
          .arrow-right {
            flex: 1;
          }

          img {
            cursor: pointer;
            max-width: 26px;

            &.img-0 {
              cursor: not-allowed;
            }
          }

          .arrow-center {
            width: 1px;
            height: 20px;
            background: #c5c5c5;
          }
        }
        .fenye-center {
          flex: 1;
          height: 1px;
          background: #d9ded5;
        }
        .fenye-right {
          .flex();
          width: 76px;
          padding-bottom: 0;

          align-items: flex-end;
          justify-content: flex-end;
          font-size: 16px;
          font-family: Microsoft YaHei-Light, Microsoft YaHei;
          font-weight: 300;
          color: #87888a;

          .page-curr {
            color: #ea3200;
            // font-weight: BOLD;
            font-size: 20px;
          }
          .page-divider {
          }
          .page-total {
          }
        }
      }
    }
  }

  .page-index {
    // background: #fff;

    .inner {
      padding-top: 0;
      // width: 100%;
      margin: 0 auto;
    }
  }
}

// pad 端
@media screen and (max-width: 1199px) and (min-width: 768px) {
  /deep/ .lunbo-box .el-carousel__container {
    height: 240px;
  }

  .section-wenxian .section-ctx .swiper-wenxian .wenxian-item .wenxian-img {
    height: calc((100vmin - 30px - 20px - 23px * 3) / 4);
  }
}
.product-center{
  width: 100%;
  padding: 30px 0px;
  margin-top: 38px;
  // background-color: rgba(20, 45, 68);
  // background: radial-gradient(circle at center, #5b1401 0, #ea3200 100%);
  background: url(../../img/product_bg.00eb0d0.png) no-repeat;
  background-size: 100% 100%;
  &-header{
     display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: 1400px;
      margin: auto;
      p{
        color: #999898;
        padding-top: 10px;
        margin-bottom: 10px;
        font-family: Microsoft YaHei-Bold, Microsoft YaHei;
        font-size: 18px;
      }
      p:first-child{
        position: relative;
        padding: 0 72px 0 24px;
        position: relative;
        color:#000;
        z-index: 9;
        font-size: 36px;
        font-weight: bold;
        color: #333333;
      }
      i{
        background-color: #ea3200;
        height: 12px;
        width: 130px;
        border-radius: 1.2rem;
        position: absolute;
        bottom: 48px;
        opacity: 0.3;
        left: 610px;
      }
  }
  .product-center-box:nth-child(1)  {
    .box-header-icon{
      background: url(../../img/home_1.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  .product-center-box:nth-child(2)  {
    .box-header-icon{
      background: url(../../img/home_2.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  .product-center-box:nth-child(3)  {
    .box-header-icon{
      background: url(../../img/home_3.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  .product-center-box:nth-child(4)  {
    .box-header-icon{
      background: url(../../img/home_4.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  .product-center-box:nth-child(5)  {
    .box-header-icon{
      background: url(../../img/home_5.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  .product-center-box:nth-child(6)  {
    .box-header-icon{
      background: url(../../img/home_6.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  &-body{
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    .product-center-box:nth-child(2){
      width: 350px;
    }
    .product-center-box:nth-child(3){
      width: 580px;
    }
    .product-center-box{
      background-color: #fff;
      width: 440px;
      height: 100%;
      border-radius: 12px;
      // background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(252, 173, 173));
      // background: radial-gradient(circle at center, #5b1401 0, #ea3200 100%);
      // background: radial-gradient(circle at center, rgba(6, 35, 165, 1) 0, rgba(15, 43, 90, 0.1) 100%);
      margin: 20px 0px;
      padding: 20px 0px;
      box-shadow: 0 1px 10px 0 rgba(102, 98, 98, .1);
      .box-header{
        padding: 0px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &-icon{
          width: 45px;
          height: 45px;
          // background: url(../../img/home_1.png) no-repeat;
          background-size: 100% 100%;
          margin-right: 20px;
        }
        &-titile{
          height: 100%;
          span{
            font-weight: bold;
            color: #ea3200;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
      }
      .box-body{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        align-content: flex-start;
        padding: 20px;
        height: 180px;
        &-product{
          margin: 8px;
          a{
            span{
              transition: all 0.3s ease;
            }
          }
          a:hover{
            span{
              color:#ea3200;
              border-color: #ea3200;
              transform: scale(1.1,1.1);
            }
          }
        }
      }
      .box-footer{
        &-more{
          margin:0px 30px;
          padding: 10px 0px;
          border-top: solid 1px #ccc;
          display: flex;
          justify-content: flex-start;
          span{
            color: #ea3200;
            cursor: pointer;
            transition: all 0.5s ease;
            position: relative;
            left: 0px;
            font-size: 18px;
          }
          span::after{
            content: "";
            position: relative;
            left: 0px;
            transition: all 0.5s ease;
          }
          span:hover{
            // transform: scale(1.1,1.1);
            left: -5px;
          }
          span:hover::after{
            content: "》";
            left: 5px;
          }
        }
      }
    }
  }
}
.bannerNav-box{
  width: 100%;
  background: #fff;
  padding: 10px 0;
  &-body{
    width: 1400px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    .BNav-from-list{
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      .other-form{
        margin-right: 15px;
        a{
          width: 188px;
          display: block;
          border-radius:8px;
          position: relative;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 20px 12px;
          background: linear-gradient(70deg, #c3e7ff, #e3f2ff 60%);
          overflow: hidden;
          -webkit-transition: all .16s ease-in-out;
          transition: all .16s ease-in-out;
          height: 100%;
          text-align: left;

          .text{
            display: block;
            color: #56adee;
            font-style: italic;
            z-index: 1;
            position: relative;
            -webkit-transition: all .16s ease-in-out;
            transition: all .16s ease-in-out;
            font-weight: 900;
            font-size: 18px;
          }
          .goto{
            display: inline-block;
            color: #fff;
            margin-top: 2px;
            font-size: 14px;
            background-color: #52adef;
            border-radius: 20px;
            padding: 2px 6px 2px 12px;
            z-index: 1;
            position: relative;
            -webkit-transition: all .16s ease-in-out;
            transition: all .16s ease-in-out;
            .el-icon-arrow-right:before {
                content: "\E6E0";
            }
          }
          .yuan{
            display: inline-block;
            width: 66%;
            height: 120%;
            border-radius: 100%;
            background-color: #c5e5fc;
            position: absolute;
            right: -12%;
            bottom: -27%;
            -webkit-transition: all .16s ease-in-out;
            transition: all .16s ease-in-out;
            z-index: 0;
          }
          img{
            width: 47%;
            display: block;
            position: absolute;
            right: -3%;
            bottom: -7%;
            -webkit-transition: all .16s ease-in-out;
            transition: all .16s ease-in-out;
          }
        }
        a:hover{
          opacity: 1;
          -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
          box-shadow: 0 0 10px rgba(0, 0, 0, .1);
          color: #fff;
          .goto{
            background-color: #fff;
            color: #52adef;
          }
          .yuan{
            width: 300px;
            height: 300px;
            right: -40px;
            bottom: -40px;
            background-color: #baddf9;
          }
          img{
            transform: scale(1.1,1.1);
          }
        }
      }
      .other-form:nth-child(2){
        a{
          background: linear-gradient(70deg, #ffc3c3, #ffe3e3 60%);
          .text{
            color: #ee5656;
          }
          .goto{
            background-color: #ef5252;
          }
          .yuan{
            background-color: #fcc5c5;
          }
        }
        a:hover{
          .goto{
            background-color: #fff;
            color: #ef5252;
          }
        }
      }
      .other-form:nth-child(3){
        a{
          background: linear-gradient(70deg, #c5c3ff, #e4e3ff 60%);
          .text{
            color: #6356ee;
          }
          .goto{
            background-color: #5752ef;
          }
          .yuan{
            background-color: #cbc5fc;
          }
        }
        a:hover{
          .goto{
            background-color: #ffffff;
            color: #5a52ef;
          }
        }
      }
      .other-form:nth-child(4){
        a{
          background: linear-gradient(70deg, #b7e7b1, #d6fed0 60%);
          .text{
            color: #8cc63f;
          }
          .goto{
            background-color: #8cd230;
          }
          .yuan{
            background-color: #b9f3b2;
          }
        }
        a:hover{
          .goto{
            background-color: #ffffff;
            color: #8cc63f;
          }
        }
      }
      .other-form:nth-child(5){
        a{
          background: linear-gradient(70deg, #ffe4c3, #fff7e3 60%);
          .text{
            color: #eea756;
          }
          .goto{
            background-color: #efa852;
          }
          .yuan{
            background-color: #fce5c5;
          }
        }
        a:hover{
          .goto{
            background-color: #ffffff;
            color: #efc252;
          }
        }
      }
      .other-form:nth-child(6){
        a{
          background: linear-gradient(70deg, #ffc3f7, #ffe3fb 60%);
          .text{
            color: #ee56d2;
          }
          .goto{
            background-color: #ef52ef;
          }
          .yuan{
            background-color: #fcc5f8;
          }
        }
        a:hover{
          .goto{
            background-color: #ffffff;
            color: #ef52cd;
          }
        }
      }
    }
  }
}
.hot-Promotion{
  width: 100%;
  margin-top: 40px;
  &-body{
    width: 1400px;
    margin: auto;
    .hp-head-box{
      // padding-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .limit-radio{
        position: absolute;
        font-size: 14px;
        color: #333;
        background: url(../../img/index/20251107-101252.png) no-repeat;
        background-size: 100% 100%;
        padding: 10px 15px 15px;
        z-index: -1;
        left: 55px;
        bottom: 12px;
        height: 60px;
        width: 60px;
        -webkit-text-fill-color: #333;
        transition: all .16s ease-in;
        span{
          font-size: 14px;
          color: #e6080a;
          background: linear-gradient(85deg, #ff9b4a, #ff5d9f);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          position: relative;
          top: -14px;
        }
      }
    }
    .hp-title{
      font-weight: 500;
      font-size: 18px;
      transition: all 0.3s ease-in-out;
      // color: #333;
    }
    
    .is-active{
      .limit-radio{
        left: 65px;
        bottom: 8px;
        height: 80px;
        width: 80px;
      }
      .hp-title{
        font-size: 20px;
      }
      .bt-icon{
        background-color: #ea3200;
        height: 0.8rem;
        width: 70px;
        border-radius: 1.2rem;
        position: relative;
        // left: 10px;
        bottom: 18px;
        opacity: 0.3;
        display: flex;
        justify-content: center;
      }
    }
    .ht-list{
      display: flex;
      justify-content: space-between;
      padding: 15px 5px;
      &-item{
        height: 460px;
        width: 263px;
        border-radius: 14px;
        -webkit-box-shadow: 0 1px 10px 0 rgba(102, 98, 98, .1);
        box-shadow: 0 1px 10px 0 rgba(102, 98, 98, .1);
        &-top{
          overflow: hidden;
          position: relative;
          &-img{
            width: 260px;
            height: 260px;
            overflow: hidden;
            transition: all 0.4s ease;
            border-radius: 14px 14px 0px 0px;
          }
          &-hticon{
            position: absolute;
            border-top-left-radius: 12px;
            border-bottom-right-radius: 12px;
            // border: 1px solid #efa852;
            background-color: #ea3200;
            color: #fff;
            padding: 3px 10px;
            top: 12px;
            right: 10px;
            word-break: keep-all;
          }
          &-img:hover{
            transform: scale(1.1,1.1);
          }
        }
        &-center{
          // background-color: #fff1f2;
          padding: 15px 10px;
          display: flex;
          flex-direction: column;
          justify-content:space-around;
          align-items: self-start;
          height: 134px;
          background-color: #fff8f6;
          &-price{
            span:first-child{
              color: #ea3200;
              font-weight: 500;
            }
            span:last-child{
              color: #ea3200;
              font-weight: 800;
              font-size: 22px;
            }
          }
          &-name{
            font-weight: 500;
            font-size: 18px;
            color: #333;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &-huohao{
            color: #999898;
          }
        }
        &-bot{
          padding: 10px;
          background-color: #fff8f6;
          &-go{
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff1f2;
            border: 1px solid #ffe5e6;
            color: #e6080a;
            height: 35px;
            border-radius: 18px;
            // transition: all 0.4s ease;
            span{
              // transition: all 0.4s ease;
              position: relative;
            }
            i::before{
              content: "";
              position: relative;
              left: 0px;
              transition: all 0.5s ease;
              font-style: normal;
            }
          }
          &-go:hover{
            background: #e6080a;
            color: #fff;
            span{
              // right: 5px;
            }
            i::before{
              content: "〉";
              left: 5px;
            }
          }
        }
      }
    }
  }
}
.dev-platform-box{
  margin-top: 30px;
  width: 100%;
  .dev-platform{
    width: 1400px;
    margin:auto;
    &-titile{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      p{
        color: #999898;
        padding-top: 10px;
        margin-bottom: 10px;
        font-family: Microsoft YaHei-Bold, Microsoft YaHei;
        font-size: 18px;
      }
      p:first-child{
        position: relative;
        padding: 0 72px 0 24px;
        position: relative;
        color:#000;
        z-index: 9;
        font-size: 36px;
        font-family: Microsoft YaHei-Bold, Microsoft YaHei;
        font-weight: bold;
        color: #333333;
      }
      i{
        background-color: #ea3200;
        height: 12px;
        width: 130px;
        border-radius: 1.2rem;
        position: absolute;
        bottom: 48px;
        opacity: 0.3;
        left: 610px;
      }
    }
    &-swiper{
      margin-top: 15px;
    }
  }
}
.is-active .dev-platform-name{
  font-size: 28px;
  color: #7f7e7e;
}
.dev-platform-name{
  font-size: 22px;
  font-weight: 500;
  color: #a6a5a5;
}
/deep/.el-tabs__item{
  height: 40px;
}
/deep/.el-tabs__nav{
  padding-top: 25px;
}
/deep/.el-tabs__item:hover {
  color: #ea3200;
  cursor: pointer;
}
/deep/.el-tabs__item.is-active{
  color: #ea3200;
}
/deep/.el-tabs__active-bar{
  background-color: #ea3200;
}
/deep/.el-carousel__indicators--outside button{
   background-color: #ea3200;
}