* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: #fff;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

a {
  text-decoration: none;
}






